In [1]:
from src.datamodule.offline_gadme_datamodule import OfflineGADMEDataModule
from src.datamodule.base_datamodule import DatasetConfig, LoaderConfig, LoadersConfig

In [2]:
from src.datamodule.components.transforms import EmbeddingTransforms
from src.datamodule.components.event_mapping import XCEventMapping
from src.datamodule.components.event_decoding import EventDecoding

In [3]:
embedding_model_name = "Embedding_BirdNet_v2_4"
embedding_model_name = "Embedding_Perch_v4"

In [4]:
dataset_name = "DBD-research-group/gadme_v1"
cache_dir = "/Users/moritzrichert/Datasets/gadme_v1"
dataset_config = DatasetConfig(cache_dir, "high_sierras", dataset_name, "high_sierras", 1, 22, 3, 0.2, "multilabel")
loaders_config = LoadersConfig()
loaders_config.train = LoaderConfig(12, True, 6, True, False, True, 2)
loaders_config.valid = LoaderConfig(12, False)
loaders_config.test = LoaderConfig(12, False)
transforms_wrapper = EmbeddingTransforms()
# transforms_wrapper = EventDecoding(0, 10, 48000)
mapper = XCEventMapping()
dm = OfflineGADMEDataModule(dataset_config, loaders_config, transforms_wrapper, mapper, embedding_model_name, 32)

In [5]:
dm.prepare_data()

Map (num_proc=3):   0%|          | 0/27063 [00:00<?, ? examples/s]

Map (num_proc=3):   0%|          | 0/12000 [00:00<?, ? examples/s]

Filter:   0%|          | 0/27063 [00:00<?, ? examples/s]

Filter:   0%|          | 0/27063 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/704 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/26359 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/12000 [00:00<?, ? examples/s]

In [6]:
dm.setup("fit")

In [7]:
train = dm.train_dataset.to_pandas()
train

,embeddings,labels,detected_events,start_time,end_time,no_call_events
0,"[-0.0357966, 0.012424374, 0.036478903, 0.02606...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[59.984, 60.0]",NaN,NaN,"[[0.0, 1.248], [2.272, 6.224], [7.424, 7.952],..."
1,"[-0.037293952, -0.039283384, 0.047518734, -0.0...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[26.8, 28.8]",NaN,NaN,"[[0.0, 1.824], [3.696, 5.408], [8.08, 8.72], [..."
2,"[-0.011252574, 0.034151897, 0.14569513, 0.0149...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[66.144, 67.488]",NaN,NaN,"[[0.0, 0.624], [1.632, 4.96], [5.792, 9.664], ..."
3,"[-0.0021332838, -0.0048610806, -0.014945189, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[0.0, 5.0]",NaN,NaN,"[[0.0, 3.376], [4.448, 9.44], [10.64, 11.0]]"
4,"[-0.06933152, 0.023950828, 0.022351986, -0.011...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[39.04, 41.76]",NaN,NaN,"[[0.0, 1.792], [3.424, 7.648], [9.488, 13.376]..."
...,...,...,...,...,...,...
699,"[-0.10585381, 0.038372826, 0.06556433, 0.00424...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[10.208, 11.456]",NaN,NaN,"[[0.0, 6.992], [8.432, 8.912], [9.68, 10.208],..."
700,"[0.17610048, -0.089950174, 0.11936076, -0.0776...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[42.832, 44.4]",NaN,NaN,"[[0.0, 2.704], [3.856, 32.0], [32.944, 39.024]..."
701,"[-0.060318496, 0.10829492, -0.011984364, 0.143...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0.0, 5.0]",NaN,NaN,"[[0.0, 0.016], [0.768, 6.0]]"
702,"[0.0908101, -0.054459173, 0.11268815, -0.02016...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[3.152, 7.264]",NaN,NaN,"[[0.0, 1.328], [2.368, 3.152], [7.264, 9.504],..."
703,"[-0.012567488, -0.057435066, -0.0035180484, 0....","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 5.0]",NaN,NaN,"[[0.0, 2.976], [3.664, 5.056], [6.336, 14.928]..."

In [8]:
t_v = train["labels"].value_counts()
t_v

labels
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]    1
                                                                     ..
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]    1
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
Name: count, Length: 704, dtype: int64

In [9]:
# t_v.plot.bar()

In [10]:
test = dm.test_dataset
test

In [11]:
test_5s = dm.val_dataset.to_pandas()
test_5s

,embeddings,labels,detected_events,start_time,end_time,no_call_events
0,"[-0.054988015, 0.07190799, 0.027638296, 0.0155...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[14.48, 16.272]",NaN,NaN,"[[0.0, 1.216], [1.936, 5.44], [6.176, 9.552], ..."
1,"[-0.01461528, -0.051910836, -0.046897504, -0.0...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[4.496, 17.0]",NaN,NaN,"[[0.0, 0.016], [4.496, 17.0]]"
2,"[-0.01306375, -0.04094648, -0.027990982, -0.01...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 16.0]",NaN,NaN,"[[0.0, 16.0]]"
3,"[0.02586004, -0.0009756487, 0.036344964, -0.00...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[18.512, 25.0]",NaN,NaN,"[[0.0, 0.016], [2.48, 6.576], [8.08, 9.712], [..."
4,"[-0.011813643, 0.01753565, 0.033379138, -0.030...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[8.144, 12.384]",NaN,NaN,"[[0.0, 0.752], [1.536, 7.36], [8.144, 12.384],..."
...,...,...,...,...,...,...
26354,"[0.23876715, 0.013602957, 0.012834812, -0.0432...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.016, 2.864]",NaN,NaN,"[[0.0, 0.016], [2.864, 3.056], [4.176, 5.312],..."
26355,"[0.37914306, 0.18421493, 0.03644405, 0.0282249...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[118.016, 121.184]",NaN,NaN,"[[0.0, 0.768], [7.2, 7.408], [8.512, 10.496], ..."
26356,"[0.010333232, 0.10474404, 0.042128883, 0.00332...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[177.328, 177.952]",NaN,NaN,"[[0.0, 1.952], [3.568, 5.248], [6.688, 8.192],..."
26357,"[0.06746829, -0.07850953, 0.122484945, 0.06996...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[4.656, 6.0]",NaN,NaN,"[[0.0, 0.848], [4.656, 6.0]]"
26358,"[0.045824975, 0.016464781, 0.009086123, 0.1202...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[35.536, 37.152]",NaN,NaN,"[[0.0, 1.248], [2.048, 4.704], [6.288, 8.048],..."

In [12]:
t5_v = test_5s["labels"].value_counts()
t5_v

labels
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]    1
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
                                                                     ..
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]    1
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]    1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]    1
Name: count, Length: 26359, dtype: int64

In [13]:
# t5_v.plot.bar()